
body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #001f3f;
  
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  
  color: aliceblue;
  
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}
.SearchForm-wrapperTwo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  max-width: 400px;
  margin: auto;
  font-weight: 500;
}
.titlex{
  padding-top: 36px;
  color: aliceblue;
  font-size: 36px;
  font-weight: bold;

  padding-bottom: 15px;
}
.imgContainer{
  margin: auto;
  padding-top: 15px;
  
}
.imgContainer img{
  background-color: rgb(241, 235, 235);
  border-radius: 10px;
  border: 2px solid #6ee4bd;
  
}
